.menu ul { background: #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu li { float: left;}
.menu a {
  display: block;
  padding: 1em 1.5em;
  color: #666;
  text-decoration: none;
}
.menu a:hover { background: #999; color: #fff;}

.menu.menu_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}